# Introduction

In [1]:
import pandas as pd

In [62]:
interval = '8h'

In [63]:
data = pd.read_csv(f'BTC_{interval}_ori.csv')
data.head()

,Open time,Open,High,Low,Close,Volume,Close time,Quote asset volume,Number of trades,Taker buy volume,Taker buy quote asset volume,Ignore
0,2019-09-08 16:00:00+00:00,10000.00,10412.65,10000.00,10391.63,3096.291,2019-09-08 23:59:59.999000+00:00,3.209628e+07,3754,0.039,3.933563e+02,0
1,2019-09-09 00:00:00+00:00,10316.62,10316.68,10092.71,10149.47,3444.238,2019-09-09 07:59:59.999000+00:00,3.539813e+07,4020,0.001,1.030921e+01,0
2,2019-09-09 08:00:00+00:00,10149.47,10475.54,10077.22,10314.26,5852.500,2019-09-09 15:59:59.999000+00:00,6.025723e+07,4162,2034.603,2.107422e+07,0
3,2019-09-09 16:00:00+00:00,10314.26,10420.65,10183.31,10307.00,5527.635,2019-09-09 23:59:59.999000+00:00,5.679185e+07,3114,3417.847,3.512316e+07,0
4,2019-09-10 00:00:00+00:00,10307.00,10382.97,10226.81,10272.46,3253.538,2019-09-10 07:59:59.999000+00:00,3.352445e+07,3473,2898.582,2.986295e+07,0

In [64]:
data = data.iloc[:,[6,1,2,3,4,5]]
data = data.rename(columns = {'Close time':'time'})
data['time'] = pd.to_datetime(data['time']).apply(lambda x:x.strftime('%Y-%m-%d %X'))
data.time = pd.to_datetime(data.time)

In [65]:
data.to_csv(f'BTC_{interval}_clean.csv',encoding='utf8',index = False)

In [66]:
print(data.shape)
train_data = data.iloc[0:-1000,:]
print(train_data.shape)

(2536, 6)
(1536, 6)

In [67]:
test_data = data.iloc[-1000:,:]
print(test_data.shape)

(1000, 6)

In [68]:
train_data.to_csv(f'BTC_{interval}_train.csv',encoding='utf-8',index=False)
test_data.to_csv(f'BTC_{interval}_test.csv',encoding='utf-8',index=False)

In [69]:
train_data

                    time      Open      High       Low     Close     Volume
0    2019-09-08 23:59:59  10000.00  10412.65  10000.00  10391.63   3096.291
1    2019-09-09 07:59:59  10316.62  10316.68  10092.71  10149.47   3444.238
2    2019-09-09 15:59:59  10149.47  10475.54  10077.22  10314.26   5852.500
3    2019-09-09 23:59:59  10314.26  10420.65  10183.31  10307.00   5527.635
4    2019-09-10 07:59:59  10307.00  10382.97  10226.81  10272.46   3253.538
...                  ...       ...       ...       ...       ...        ...
1531 2021-01-31 07:59:59  34284.76  34393.22  33452.24  33632.41  54404.521
1532 2021-01-31 15:59:59  33631.01  34268.00  32550.00  32875.93  87946.445
1533 2021-01-31 23:59:59  32878.84  33280.73  32193.04  33126.21  68942.925
1534 2021-02-01 07:59:59  33125.11  34484.10  32322.47  33827.00  95462.393
1535 2021-02-01 15:59:59  33828.41  34720.00  33173.14  33178.13  95499.978

[1536 rows x 6 columns]